@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MaintInfo</h1>
    <p class="lead">Service de maintenance des équipements vendus.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestion des clients</h2>
        <p>
            La gestion des clients permet :
            - d'afficher, d'ajouter, modifier un client,
            - d'afficher, d'ajouter un centre informatique,
            - d'afficher, d'ajouter un contrat à un centre informatique.
        </p>
        @using (Html.BeginForm())
        {
            <input type="submit" value="Afficher" />
        }
    </div>
</div>