@model IEnumerable<MaintInfoBo.Secteur>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des secteurs : </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Secteur")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libelleSecteur)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home")
</div>
